{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 25.509128699999998,
    "longitude": 55.361907248723114,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Asia/Dubai",
    "external_url": null,
    "internal_url": null,
    "currency": "AED",
    "country": "AE",
    "language": "en",
    "radius": 100
  }
}